In [1]:
import pandas as pd

In [2]:
adas_data = pd.read_csv('DataNew/adas.csv',encoding='cp1252')

In [3]:
no_adas_data = pd.read_csv('DataNew/no_adas.csv',encoding='cp1252')

In [4]:
df_all = pd.read_csv('DataNew/Mergedata.csv',encoding='cp1252')

In [5]:
df_all = df_all.drop(columns=['VEHNO'], errors='ignore')

In [6]:
adas_data.shape

(4472, 8)

In [7]:
no_adas_data.shape

(12710, 8)

In [8]:
df_all.shape

(9951, 145)

In [9]:
dfad = pd.merge(adas_data, df_all, how="inner", on="CASEID")
dfad.head()

,Unnamed: 0_x,CASEID,VEHNO,VehicleType,Make,Model,ModelYear,ADAS,Unnamed: 0_y,CASEWGT,...,WEATHER_8.0,WEATHER_9.0,WEATHER_10.0,WEATHER_98.0,WEATHER_99.0,DISTRACT_0.0,DISTRACT_1.0,DISTRACT_2.0,DISTRACT_3.0,DISTRACT_9.0
0,12,16083,2,MULTIPURPOSE PASSENGER VEHICLE (MPV),LEXUS,RX,2018,1,94,427,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
1,15,16086,1,PASSENGER CAR,HONDA,Civic,2017,1,4719,109,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2,16,16086,2,MULTIPURPOSE PASSENGER VEHICLE (MPV),TOYOTA,RAV4,2019,1,4719,109,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
3,38,16059,3,MULTIPURPOSE PASSENGER VEHICLE (MPV),FORD,Escape,2017,1,66,502,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
4,45,16274,1,MULTIPURPOSE PASSENGER VEHICLE (MPV),JEEP,Renegade,2018,1,3622,41,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0

In [10]:
dfnad = pd.merge(no_adas_data, df_all, how="inner", on="CASEID")
dfnad.head()

,Unnamed: 0_x,CASEID,VEHNO,VehicleType,Make,Model,ModelYear,ADAS,Unnamed: 0_y,CASEWGT,...,WEATHER_8.0,WEATHER_9.0,WEATHER_10.0,WEATHER_98.0,WEATHER_99.0,DISTRACT_0.0,DISTRACT_1.0,DISTRACT_2.0,DISTRACT_3.0,DISTRACT_9.0
0,0,16035,1,MULTIPURPOSE PASSENGER VEHICLE (MPV),FORD,Flex,2010,0,381,64,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0
1,1,16035,2,TRUCK,TOYOTA,Tacoma,2012,0,381,64,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0
2,2,16037,1,TRUCK,CHEVROLET,Silverado,2005,0,6557,3758,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,3,16038,1,PASSENGER CAR,BUICK,Century,2003,0,45,2592,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
4,4,16038,2,PASSENGER CAR,CHEVROLET,Impala,2009,0,45,2592,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0

In [11]:
#Driver Error (ADAS)

In [12]:
cols=["DISTRACTN_1",\
    "DISTRACTN_2","DISTRACTN_3","DISTRACTN_4","DISTRACTN_5","DISTRACTN_6","DISTRACTN_7",\
     "DISTRACTN_8","DISTRACTN_9","DISTRACTN_10","DISTRACTN_99","DISTRACT_2.0","DISTRACT_3.0","CRITEVENT_6.0",\
    "CRITEVENT_8.0","CRITEVENT_10.0","CRITEVENT_11.0","CRITEVENT_12.0","CRITEVENT_13.0","CRITEVENT_15.0"\
     ,"CRITEVENT_16.0","CRITEVENT_17.0","CRITEVENT_18.0","CRITEVENT_19.0","CRITEVENT_20.0","CRITEVENT_21.0",\
    "CRITEVENT_51.0","CRITEVENT_52.0","CRITEVENT_53.0","CRITEVENT_54.0"\
    ,"CRITEVENT_55.0","CRITEVENT_56.0","CRITEVENT_59.0","CRITEVENT_60.0","CRITEVENT_61.0","CRITEVENT_62.0","CRITEVENT_63.0","CRITEVENT_64.0"\
     ,"CRITEVENT_65.0","CRITEVENT_66.0","CRITEVENT_67.0","CRITEVENT_68.0","CRITEVENT_70.0","CRITEVENT_71.0","CRITEVENT_72.0","CRITEVENT_73.0","CRITEVENT_74.0","CRITEVENT_78.0","CRITEVENT_80.0","CRITEVENT_81.0"\
     ,"CRITEVENT_83.0","PRELOC_2.0","PRELOC_4.0","PRELOC_6.0","PRELOC_7.0","OBJCONT_77","OBJCONT_78"]
dfde=dfnad[cols].copy()
dfde["DE"]=dfde.any(axis="columns")
dfde.head()

,DISTRACTN_1,DISTRACTN_2,DISTRACTN_3,DISTRACTN_4,DISTRACTN_5,DISTRACTN_6,DISTRACTN_7,DISTRACTN_8,DISTRACTN_9,DISTRACTN_10,...,CRITEVENT_80.0,CRITEVENT_81.0,CRITEVENT_83.0,PRELOC_2.0,PRELOC_4.0,PRELOC_6.0,PRELOC_7.0,OBJCONT_77,OBJCONT_78,DE
0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,True
1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,True
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,True
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,True
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,True

In [13]:
dfde['DE'].value_counts()

DE
True     12409
False      293
Name: count, dtype: int64

In [14]:
data=[dfnad["CASEID"],dfnad['CASEWGT'],dfde["DE"]]
headers=["ypc","combwgt","de"]
dffinal=pd.concat(data,axis=1, keys=headers)
dffinal["de"]=dffinal["de"].astype(int)
dffinal.head()

     ypc  combwgt  de
0  16035       64   1
1  16035       64   1
2  16037     3758   1
3  16038     2592   1
4  16038     2592   1

In [15]:
dfde.to_csv("DataNew/DE1.csv")

In [16]:
dfde.shape

(12702, 58)

In [17]:
#Human Factors

In [18]:
cols=["OBJCONT_72","OBJCONT_73","OBJCONT_75","DISTRACTN_1","DISTRACTN_2","CRITEVENT_50.0","CRITEVENT_56.0","PRELOC_6.0","PRELOC_7.0"]
dfhf=dfnad[cols].copy()
dfhf["HF"]=dfhf.any(axis="columns")
dfhf.head()

,OBJCONT_72,OBJCONT_73,OBJCONT_75,DISTRACTN_1,DISTRACTN_2,CRITEVENT_50.0,CRITEVENT_56.0,PRELOC_6.0,PRELOC_7.0,HF
0,NaN,NaN,NaN,0.0,1.0,0.0,0.0,0.0,0.0,True
1,NaN,NaN,NaN,0.0,1.0,0.0,0.0,0.0,0.0,True
2,0.0,0.0,0.0,NaN,NaN,0.0,0.0,0.0,0.0,False
3,NaN,NaN,NaN,NaN,NaN,1.0,0.0,0.0,0.0,True
4,NaN,NaN,NaN,NaN,NaN,1.0,0.0,0.0,0.0,True

In [19]:
dfhf['HF'].value_counts()

HF
False    10669
True      2033
Name: count, dtype: int64

In [20]:
data=[dfnad["CASEID"],dfnad['CASEWGT'],dfhf["HF"]]
headers=["ypc","combwgt","de"]
dffinal=pd.concat(data,axis=1, keys=headers)
dffinal["de"]=dffinal["de"].astype(int)
dffinal.head()

     ypc  combwgt  de
0  16035       64   1
1  16035       64   1
2  16037     3758   0
3  16038     2592   1
4  16038     2592   1

In [21]:
dfhf.to_excel("DataNew/HF1.xlsx")

In [22]:
dfhf.shape

(12702, 10)

In [23]:
#Vehicle Factors

In [24]:
cols=["OBJCONT_78","CRITEVENT_3.0","CRITEVENT_4.0","CRITEVENT_8.0"]
dfvf=dfnad[cols].copy()
dfvf["VF"]=dfvf.any(axis="columns")
dfvf.head()

   OBJCONT_78  CRITEVENT_3.0  CRITEVENT_4.0  CRITEVENT_8.0     VF
0         NaN            0.0            0.0            0.0  False
1         NaN            0.0            0.0            0.0  False
2         0.0            0.0            0.0            0.0  False
3         NaN            0.0            0.0            0.0  False
4         NaN            0.0            0.0            0.0  False

In [25]:
dfvf['VF'].value_counts()

VF
False    12554
True       148
Name: count, dtype: int64

In [26]:
data=[dfnad["CASEID"],dfnad['CASEWGT'],dfvf["VF"]]
headers=["ypc","combwgt","vf"]
dffinal=pd.concat(data,axis=1, keys=headers)
dffinal["vf"]=dffinal["vf"].astype(int)
dffinal.head()

     ypc  combwgt  vf
0  16035       64   0
1  16035       64   0
2  16037     3758   0
3  16038     2592   0
4  16038     2592   0

In [27]:
dfol=dffinal[(dffinal.vf==1)]
dfol["combwgt"].sum()

80338

In [28]:
dfvf.shape

(12702, 5)

In [29]:
dfvf.to_excel("DataNew/VF1.xlsx")

In [30]:
#Vehicle Maintenance

In [31]:
cols=["CRITEVENT_1.0"]
dfvm=dfnad[cols].copy()
dfvm["VM"]=dfvm.any(axis="columns")
dfvm.head()

   CRITEVENT_1.0     VM
0            0.0  False
1            0.0  False
2            0.0  False
3            0.0  False
4            0.0  False

In [32]:
dfvm['VM'].value_counts()

VM
False    12668
True        34
Name: count, dtype: int64

In [33]:
data=[dfnad["CASEID"],dfnad['CASEWGT'],dfvm["VM"]]
headers=["ypc","combwgt","vm"]
dffinal=pd.concat(data,axis=1, keys=headers)
dffinal["vm"]=dffinal["vm"].astype(int)
dffinal.head()

     ypc  combwgt  vm
0  16035       64   0
1  16035       64   0
2  16037     3758   0
3  16038     2592   0
4  16038     2592   0

In [34]:
dfol=dffinal[(dffinal.vm==1)]
dfol["combwgt"].sum()

36891

In [35]:
dfvm.shape

(12702, 2)

In [36]:
dfvm.to_excel("DataNew/VM1.xlsx")

In [37]:
#Infrastructure Factors

In [38]:
cols=[ 'OBJCONT_41','OBJCONT_42', 'OBJCONT_43', 'OBJCONT_44', 'OBJCONT_45',
      'OBJCONT_47','OBJCONT_48','OBJCONT_49','OBJCONT_50','OBJCONT_51','OBJCONT_52','OBJCONT_53','OBJCONT_54','OBJCONT_55','OBJCONT_56','OBJCONT_57',\
   'OBJCONT_58','OBJCONT_59','OBJCONT_60','OBJCONT_61','OBJCONT_62','OBJCONT_63','OBJCONT_64','OBJCONT_68','OBJCONT_69',\
      "CRITEVENT_5.0","TRAFFUNCT_1.0"]#'OBJCONT_76.0',"CRITEVENT_87.0","CRITEVENT_88.0","CRITEVENT_89.0","CRITEVENT_90.0","CRITEVENT_91.0","CRITEVENT_92.0"]
#cols=["WEATHER_2.0","WEATHER_3.0","WEATHER_4.0","WEATHER_5.0","WEATHER_6.0","WEATHER_7.0","WEATHER_9.0","WEATHER_10.0"]
dfif=dfnad[cols].copy()
dfif["IF"]=dfif.any(axis="columns")
dfif.head()

,OBJCONT_41,OBJCONT_42,OBJCONT_43,OBJCONT_44,OBJCONT_45,OBJCONT_47,OBJCONT_48,OBJCONT_49,OBJCONT_50,OBJCONT_51,...,OBJCONT_60,OBJCONT_61,OBJCONT_62,OBJCONT_63,OBJCONT_64,OBJCONT_68,OBJCONT_69,CRITEVENT_5.0,TRAFFUNCT_1.0,IF
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,False
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,False
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,True
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,False
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,False

In [39]:
dfif['IF'].value_counts()

IF
False    8980
True     3722
Name: count, dtype: int64

In [40]:
data=[dfnad["CASEID"],dfnad['CASEWGT'],dfif["IF"]]
headers=["ypc","combwgt","df"]
dffinal=pd.concat(data,axis=1, keys=headers)
dffinal["df"]=dffinal["df"].astype(int)
dffinal.head()

     ypc  combwgt  df
0  16035       64   0
1  16035       64   0
2  16037     3758   1
3  16038     2592   0
4  16038     2592   0

In [41]:
dfol=dffinal[(dffinal.df==1)]
dfol["combwgt"].sum()

2584068

In [42]:
dfif.shape

(12702, 28)

In [43]:
dfif.to_excel("DataNew/IF1.xlsx")

In [44]:
#Weather Factors

In [45]:
cols=['OBJCONT_61','OBJCONT_68','OBJCONT_69','OBJCONT_76',"CRITEVENT_5.0","CRITEVENT_87.0","CRITEVENT_88.0","CRITEVENT_89.0","CRITEVENT_90.0","CRITEVENT_91.0","CRITEVENT_92.0",\
      "SURFCOND_2.0","SURFCOND_3.0","SURFCOND_4.0","SURFCOND_5.0","SURFCOND_6.0","SURFCOND_8.0","SURFCOND_9.0",\
      "WEATHER_2.0","WEATHER_3.0","WEATHER_4.0","WEATHER_5.0","WEATHER_6.0","WEATHER_7.0","WEATHER_9.0","WEATHER_10.0"]
dfwe=dfnad[cols].copy()
dfwe["WE"]=dfwe.any(axis="columns")
dfwe.head()

,OBJCONT_61,OBJCONT_68,OBJCONT_69,OBJCONT_76,CRITEVENT_5.0,CRITEVENT_87.0,CRITEVENT_88.0,CRITEVENT_89.0,CRITEVENT_90.0,CRITEVENT_91.0,...,SURFCOND_9.0,WEATHER_2.0,WEATHER_3.0,WEATHER_4.0,WEATHER_5.0,WEATHER_6.0,WEATHER_7.0,WEATHER_9.0,WEATHER_10.0,WE
0,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,False
1,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,False
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,False
3,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,False
4,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,False

In [46]:
dfwe['WE'].value_counts()

WE
False    9755
True     2947
Name: count, dtype: int64

In [47]:
data=[dfnad["CASEID"],dfnad['CASEWGT'],dfwe["WE"]]
headers=["ypc","combwgt","df"]
dffinal=pd.concat(data,axis=1, keys=headers)
dffinal["df"]=dffinal["df"].astype(int)
dffinal.head()

     ypc  combwgt  df
0  16035       64   0
1  16035       64   0
2  16037     3758   0
3  16038     2592   0
4  16038     2592   0

In [48]:
dfol=dffinal[(dffinal.df==1)]
dfol["combwgt"].sum()

2467269

In [49]:
dfwe.shape

(12702, 27)

In [50]:
dfwe.to_excel("DataNew/WE1.xlsx")

In [51]:
#Socio Economic Factors

In [52]:
cols=['DISTRACTN_1',"CRITEVENT_6.0"]
dfsf=dfnad[cols].copy()
dfsf["SF"]=dfsf.any(axis="columns")
dfsf.head()

   DISTRACTN_1  CRITEVENT_6.0     SF
0          0.0            0.0  False
1          0.0            0.0  False
2          NaN            0.0  False
3          NaN            0.0  False
4          NaN            0.0  False

In [53]:
dfsf['SF'].value_counts()

SF
False    11796
True       906
Name: count, dtype: int64

In [54]:
data=[dfnad["CASEID"],dfnad['CASEWGT'],dfsf["SF"]]
headers=["ypc","combwgt","sf"]
dffinal=pd.concat(data,axis=1, keys=headers)
dffinal["sf"]=dffinal["sf"].astype(int)
dffinal.head()

     ypc  combwgt  sf
0  16035       64   0
1  16035       64   0
2  16037     3758   0
3  16038     2592   0
4  16038     2592   0

In [55]:
dfol=dffinal[(dffinal.sf==1)]
dfol["combwgt"].sum()

648511

In [56]:
dfsf.shape

(12702, 3)

In [57]:
dfsf.to_excel("DataNew/SF1.xlsx")

In [58]:
data=[dfnad["CASEID"],dfnad['CASEWGT'],dfde["DE"],dfhf["HF"],dfvf['VF'],dfvm['VM'],dfif['IF'],dfwe['WE'],dfsf['SF']]
headers=["ypc","combwgt","de","hf","vf","vm","if","we","sf"]
dffinal=pd.concat(data,axis=1, keys=headers)
dffinal["de"]=dffinal["de"].astype(int)
dffinal["hf"]=dffinal["hf"].astype(int)
dffinal["vf"]=dffinal["vf"].astype(int)
dffinal["vm"]=dffinal["vm"].astype(int)
dffinal["if"]=dffinal["if"].astype(int)
dffinal["we"]=dffinal["we"].astype(int)
dffinal["sf"]=dffinal["sf"].astype(int)
dffinal.head()

     ypc  combwgt  de  hf  vf  vm  if  we  sf
0  16035       64   1   1   0   0   0   0   0
1  16035       64   1   1   0   0   0   0   0
2  16037     3758   1   0   0   0   1   0   0
3  16038     2592   1   1   0   0   0   0   0
4  16038     2592   1   1   0   0   0   0   0

In [59]:
dffinal.to_csv("DataNew/Contributingfactor.CSV")

In [60]:
df = pd.read_csv('DataNew/Contributingfactor.CSV')

In [61]:
df.head()

   Unnamed: 0    ypc  combwgt  de  hf  vf  vm  if  we  sf
0           0  16035       64   1   1   0   0   0   0   0
1           1  16035       64   1   1   0   0   0   0   0
2           2  16037     3758   1   0   0   0   1   0   0
3           3  16038     2592   1   1   0   0   0   0   0
4           4  16038     2592   1   1   0   0   0   0   0

In [62]:
df["combwgt"].sum()

10950959

In [63]:
cols=["de","hf"]
dfhuman=df[cols].copy()
dfhuman["DEHFSF"]=dfhuman.any(axis="columns")
dfhuman.head()

   de  hf  DEHFSF
0   1   1    True
1   1   1    True
2   1   0    True
3   1   1    True
4   1   1    True

In [64]:
dfhuman["DEHFSF"].value_counts()

DEHFSF
True     12416
False      286
Name: count, dtype: int64

In [65]:
cols=["vf","vm"]
dfvehicle=df[cols].copy()
dfvehicle["VFVM"]=dfvehicle.any(axis="columns")
dfvehicle.head()

   vf  vm   VFVM
0   0   0  False
1   0   0  False
2   0   0  False
3   0   0  False
4   0   0  False

In [66]:
dfvehicle["VFVM"].value_counts()

VFVM
False    12520
True       182
Name: count, dtype: int64

In [67]:
cols=["if","we"]
dfenvironment=df[cols].copy()
dfenvironment["IFWE"]=dfenvironment.any(axis="columns")
dfenvironment.head()

   if  we   IFWE
0   0   0  False
1   0   0  False
2   1   0   True
3   0   0  False
4   0   0  False

In [68]:
dfenvironment['IFWE'].value_counts()

IFWE
False    7367
True     5335
Name: count, dtype: int64

In [69]:
data=[df["ypc"],df['combwgt'],dfhuman["DEHFSF"],dfvehicle["VFVM"],dfenvironment['IFWE']]
headers=["ypc","combwgt","dehfsf","vfvm","ifwe"]
dffinal=pd.concat(data,axis=1, keys=headers)
dffinal["dehfsf"]=dffinal["dehfsf"].astype(int)
dffinal["vfvm"]=dffinal["vfvm"].astype(int)
dffinal["ifwe"]=dffinal["ifwe"].astype(int)
dffinal.head()

     ypc  combwgt  dehfsf  vfvm  ifwe
0  16035       64       1     0     0
1  16035       64       1     0     0
2  16037     3758       1     0     1
3  16038     2592       1     0     0
4  16038     2592       1     0     0